<li id="comment<%= c.id %>">
				<div>
					<p>
					<%= c.content %>
					</p>
					<p class="author-details"><%= c.user.email%> at <%= c.created_at %>
					</p>
				</div>
				
				<p class="comment-destroy-link">
					<%= link_to "X", comment_path(c.id), remote: true ,  method: :delete %>
				</p>						

</li>